<p>复选题</p>
<div *ngIf="!editable" class="ui form">
    <p>{{question.title}}</p>
    <div *ngFor="let option of question.options" class="grouped fields">
        <div class="field">
            <div class="ui checkbox">
                <input name="group" type="checkbox" id="{{option.key}}" (click)="setSelectedValue($event.target.checked, option.value)">
                <label>{{option.value}}</label>
            </div>
        </div>
    </div>
</div>
<div *ngIf="editable && isEditing" class="ui grid">
    <div class="fourteen wide column">
        <div class="ui input fluid" style="margin-bottom: 10px;">
            <input placeholder="请输入问题" [(ngModel)]="question.title" class="form-control" required />
        </div>
    </div>
    <div *ngFor="let option of question.options; let i=index" class="row">
        <div class="ten wide column">
            <div class="ui input fluid">
                <input placeholder="请填写选项" class="form-control" class="form-control" [(ngModel)]="option.value" type="text" />
            </div>
        </div>
        <div class="two wide column">
            <i *ngIf="question.options.length > 1" class="ui icon remove" (click)="onDeleteOption(i)"></i>
        </div>
    </div>
    <div class="btns">
        <button (click)="onSave()" class="ui button basic blue">保存</button>
        <button (click)="onAddOption()" class="ui button basic">添加选项</button>
        <button (click)="onCancel()" class="ui button basic">取消</button>
    </div>
</div>
<div *ngIf="editable && !isEditing" class="ui form">
    <p>{{question.title}}</p>
    <div class="grouped fields">
        <div *ngFor="let option of question.options" class="field">
            <div class="ui checkbox disabled">
                <input name="group" type="checkbox" id="{{option.key}}" disabled="disabled">
                <label>{{option.value}}</label>
            </div>
        </div>
    </div>
    <div class="btns" style="margin-bottom: 10px;">
        <button (click)="onEdit()" class="ui button basic">编辑</button>
        <button (click)="onDelete()" class="ui button basic">删除</button>
    </div>
</div>