<div class="ui grid edit-container container">
    <div class="five wide column">
        <div class="sidebar">
            <div class="ui fluid two item secondary pointing menu">
                <a href="" class="item active" data-tab="first">问题控件</a>
                <a href="" class="item" data-tab="second">问卷大纲</a>
            </div>
            <div class="ui bottom attached tab active" data-tab="first">
                <question-select (addQuestionRequest)="onAddQuestion($event)"></question-select>
            </div>
            <div class="ui bottom attached tab" data-tab="second">
                <questionnaire-outline></questionnaire-outline>
            </div>
        </div>
    </div>
    <div class="eleven wide column questionnaire-container">
        <app-questionnaire [(questionnaire)]="questionnaire"></app-questionnaire>
    </div>
</div>